.footer{
  height: 100%;
  background-color: #1e1e1e;
  text-align: center;
  line-height: 60px; /* Vertically center the text */
  box-shadow: grey 0px 2px 4px ;
  bottom: 0;
  width: 100%;
  p, a{
    color: white;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }
}
